.main  
  .main__contents
    - @contents.each do |content|
      .main__contents__content
        .main__contents__content__title
          = content.title
        - content.choices.each do |choice|
          .main__contents__content__choice
            .main__contents__content__choice__text 
              = choice.text
            .main__contents__content__choice__number
              #vote-choice.id
                = render partial: "vote", locals: { content: content, choice: choice }
        .main__contents__content__info
          .main__contents__content__info__name
            = content.user.nickname
          .main__contents__content__info__date
            = content.created_at