.main  
  .main__contents.input
    - @contents.each do |content|
      .main__contents__content.input__new
        - if user_signed_in?
          - if current_user.id == content.user_id
            .more
              = icon("fas", "angle-down")
              %ul.more_list
                %li
                  = link_to '編集', edit_content_path(content.id), method: :get
          - else
        -else
        .main__contents__content__title
          = content.title
        - content.choices.each do |choice|
          .main__contents__content__choice
            .main__contents__content__choice__text 
              = choice.text
            .main__contents__content__choice__number
              .main__contents__content__choice__number__vote#vote{id: choice.id}
                = render partial: "vote", locals: { choice: choice }
        .main__contents__content__info
          .main__contents__content__info__name
            = content.user.nickname
          .main__contents__content__info__date
            = content.created_at.strftime("%Y-%m-%d %H:%M")