- if user_signed_in?
  - if choice.vote_user(current_user.id)
    = button_to choice_vote_path(id: choice.id, choice_id: choice.id), method: :delete, id: "vote-btn", remote: true do
      ●
      %span
        = choice.votes_count
        
  - else
    = button_to choice_votes_path(id: choice.id, choice_id: choice.id), id: "vote-btn", remote: true do
      ○
      %span
        = choice.votes_count
- else
  ⭐️ not signin
  %span
    = choice.votes_count