.input
  .input__new
    = form_with model: @content, url: contents_path, local: true do |f|
      .title
        みんなに投票してもらおう！
      = render "shared/error_messages", model: f.object
      .input__new__title
        = f.label :title
        = f.text_field :title, class: 'title-form', placeholder: "例 : スマホ買い換えるなら、色は？"
      .input__new__choices
        .input__new__choices__choice
          みんなに選んでもらう項目をきめてね！(2つ以上入力)
        = f.label :text
        = f.fields_for :choices do |c|
          = render "choices_fields", f: c
        .links
          = link_to_add_association "➕", f, :choices, class: 'add', partial: "choices_fields", data: {association_insertion_method: 'before'}
      = f.submit "さっそく聞いてみる！", class: 'submit'