.input
  .input__new
    = form_with model: @detail, url: '#', local: true do |f|
      %h1
        みんなに聞いてみよう！
      .input__new__title
        何について迷っているの？
        = f.text_field :title, class: 'form', placeholder: "迷っていることをかいてね！"
      .input__new__choice
        みんなに投票してもらう2択を決めてね！
        = f.text_field :text, class: 'form', placeholder: "①"
        = f.text_field :text, class: 'form', placeholder: "②"
        = f.submit "さっそく聞いてみる！", class: 'submit'